<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303946250292-m9jncok6unqng3qf4bvosv11trnqhv0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303946250292-m9jncok6unqng3qf4bvosv11trnqhv0j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>303946250292-gdm37bpu303n3ornsenhk2m76q8lna20.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAf5YnD3Y84kZFtDPvi3pVLZv_n0M44kjo</string>
	<key>GCM_SENDER_ID</key>
	<string>303946250292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.torontojiazheng.ttjzh3</string>
	<key>PROJECT_ID</key>
	<string>tiantianjiazheng2021</string>
	<key>STORAGE_BUCKET</key>
	<string>tiantianjiazheng2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303946250292:ios:23871a625b805b8e69b261</string>
	<key>DATABASE_URL</key>
	<string>https://tiantianjiazheng2021-default-rtdb.firebaseio.com</string>
</dict>
</plist>